.bg-maroon {
  background-color: #d81b60;
}

.bg-aqua {
  background-color: #00c0ef;
}

.bg-orange {
  background-color: #ff851b;
}

.bg-purple {
  background-color: #605ca8;
}

.bg-green {
  background-color: #00a65a;
}

.bg-teal {
  background-color: #39cccc;
}
